<!--
Copyright Glen Knowles 2023.
Distributed under the Boost Software License, Version 1.0.

navbar-debug.html - tismet webapp
-->
<div class="container-fluid bg-groupType">
  <template v-if="navSub().length > 0">
    <div class='row mb-3 border-bottom border-primary bg-light'>
      <template v-for='(nav, index) in navSub()'>
        <div v-if='nav.disabled'
            class='col-auto border-start border-end
              text-decoration-line-through'>
          {{nav.name}}
        </div>
        <a v-else-if='nav.name == navSubSelected'
            class='col-auto border-start border-end fw-bolder'
            :href='nav.href'>
          {{nav.name}}
        </a>
        <a v-else
            class='col-auto border-start border-end'
            :href='nav.href'>{{nav.name}}</a>
      </template>
    </div>
  </template>
</div>
